@charset "UTF-8"; 
@media screen and (min-width: 768px){ 
    main{ 
        grid-template-columns: auto 300px 1fr auto;
    } 
    #ficha{ 
        grid-column: 2 / 3;
        height: fit-content;
        position: sticky;
        top: 30px;
    }

    #detalhes{ 
        grid-column: 3 / 4;
    } 
    .skill-container{ 
        grid-template-columns: 1fr 1fr; 
    } 
    .projeto-container .projeto{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 20px;
    }
    .projeto-container .foto{
        aspect-ratio: 1 / 1;
        max-width: 20%;
        max-height: 200px;
        justify-self: end;
        flex-shrink: 0;
    }
    .projeto-container .projeto-info{
        max-width: 80%;
        flex: 1;
    }
}