@charset "UTF-8"; 
@media screen and (min-width: 962px){ 
    main{ 
        grid-template-columns: auto 400px auto auto; 
        margin-top: 60px;
        gap: 10px;
    } 
    #ficha{ 
        position: fixed; 
        grid-area: 1 / 2 / 2 / 3; 
        margin-left: 10px;
        margin-right: 5px;
        width: 400px;
        height: 530px;
    }

    #detalhes{ 
        grid-column: 3; 
        margin-left: 2px;
    } 
    .skill-container{ 
        grid-template-columns: 1fr 1fr; 
    } 
}